.iScreen-arrow{
    background-image: url('../icons/arrow.svg');
}
.iScreen-D360L{
    background-image: url('../icons/D360L.svg');
}
.iScreen-search{
    background-image: url('../icons/serach.svg');
}
.iScreen-plus{
    background-image: url('../icons/plus.svg');
}
.iScreen-ring{
    background-image: url('../icons/ring.svg');
}
.iScreen-photo{
    background-image: url('../icons/photo.png');
}
.iScreen-star{
    background-image: url('../icons/star.svg');
}
.iScreen-ystar{
    background-image: url('../icons/ystar.svg');
}
.iScreen-rentz{
    background-image: url('../icons/rentz.png');
}
.iScreen-msg{
    background-image: url('../icons/msg.svg');
}
.iScreen-world{
    background-image: url('../icons/world.svg');
}
.iScreen-phone{
    background-image: url('../icons/phone.svg');
}
.iScreen-about{
    background-image: url('../icons/about.svg');
}
.iScreen-home{
    background-image: url('../icons/home.svg');
}
.iScreen-agent{
    background-image: url('../icons/agent.svg');
}
.iScreen-bck{
    background-image: url('../icons/bck.svg');
}
.iScreen-clock{
    background-image: url('../icons/clock.png');
}
.iScreen-agents{
    background-image: url('../icons/agents.png');
}
.iScreen-property{
    background-image: url('../icons/property.svg');
}
.iScreen-location{
    background-image: url('../icons/location.svg');
}
.iScreen-rworld{
    background-image: url('../icons/rworld.svg');
}
.iScreen-rphone{
    background-image: url('../icons/rphone.svg');
}
.iScreen-facebook{
    background-image: url('../icons/facebook.svg');
}
.iScreen-twitter{
    background-image: url('../icons/twitter.svg');
}
.iScreen-youtube{
    background-image: url('../icons/youtube.svg');
}
.iScreen-insta{
    background-image: url('../icons/insta.svg');
}
.iScreen-p1{
    background-image: url('../icons/p1.svg');
}
.iScreen-p2{
    background-image: url('../icons/p2.svg');
}
.iScreen-p3{
    background-image: url('../icons/p3.svg');
}
.iScreen-pp1{
    background-image: url('../icons/pp1.svg');
}
.iScreen-footer{
    background-image: url('../icons/footer.svg');
}